ngsi/nodered/.flows.json.backup
[{"id":"dc06aed4.c1031","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e783af2.4ed075","type":"mqtt-broker","z":"","name":"MQTT out","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1f9ea335.b39a4d","type":"mqtt out","z":"dc06aed4.c1031","name":"","topic":"/apikey2/device_004/attrs","qos":"1","retain":"","broker":"e783af2.4ed075","x":390,"y":180,"wires":[]},{"id":"c2f7f52a.0b1388","type":"debug","z":"dc06aed4.c1031","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":602,"y":87,"wires":[]},{"id":"c6f26b4.0f98f98","type":"inject","z":"dc06aed4.c1031","name":"","topic":"/testservice","payload":"{\"t\":\"24.5\",\"s\":\"ok michou\",\"h\":\"77.99\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":163,"wires":[["1f9ea335.b39a4d","b660017a.9333"]]},{"id":"287c4f61.cee3a","type":"template","z":"dc06aed4.c1031","name":"template device","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"json","x":395.5,"y":280,"wires":[[]]},{"id":"b660017a.9333","type":"random","z":"dc06aed4.c1031","name":"temp gen","low":"10","high":"30","inte":"false","property":"payload","x":375.5,"y":48,"wires":[["c2f7f52a.0b1388"]]}]